<template>
<div>
  <b-navbar>
    <template slot="brand">
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        Vote
      </b-navbar-item>
    </template>
    <template slot="end">
      <nuxt-link v-for="(item, key) of items" :key="key" :to="item.to" class="navbar-item">
        {{ item.title }}
      </nuxt-link>
    </template>
  </b-navbar>

  <nuxt />
</div>
</template>

<script>
export default {
  data() {
    return {
      items: [{
          title: "Home",
          to: {
            name: "index"
          }
        },
        {
          title: "Login",
          to: {
            name: "login"
          }
        },
        {
          title: "ListProjets",
          to: {
            name: "projets"
          }
        },
        {
          title: "Projet",
          to: {
            name: "projet"
          }
        },
        {
          title: "Profil",
          to: {
            name: "profil"
          }
        },
        {
          title: "Categorie",
          to: {
            name: "Categorie"
          }
        }
      ]
    };
  }
};
</script>
