<template>
<section class="section">
  <div class="columns is-mobile">
    <card title="Free" icon="github">
      Open source on <a href="https://github.com/buefy/buefy">
        GitHub
      </a>
    </card>

    <card title="Responsive" icon="cellphone-link">
      <b class="has-text-grey">
        Every
      </b> component is responsive
    </card>
    <Projet name="Mon projet" description="Ceci est notre projet">
    </Projet>
    <User name="Hugo" />
  </div>
</section>
</template>

<script>
import Card from '~/components/Card'
import Projet from "~/components/preview/projet"
import User from "~/components/preview/user"

export default {
  name: 'HomePage',

  components: {
    Card,
    Projet,
    User
  }
}
</script>
