<template>
<section class="section">
  <div class="columns is-centered">
    <div class="column is-4 box has-background-light">
      <b-field label="Email">
        <b-input type="email" placeholder="e.g. you@their.com" icon-pack="fas" icon="envelope">
        </b-input>
      </b-field>

      <b-field label="Password">
        <b-input type="password" icon-pack="fas" icon="lock"> </b-input>
      </b-field>

      <div class="field">
        <b-button type="is-success">
          Login
        </b-button>
      </div>

      <div class="box">
        <b-button icon-pack="fab" icon-left="google" size="is-medium">
          Google
        </b-button>
      </div>
    </div>
  </div>
</section>
</template>

<script>
export default {
  name: "login"
};
</script>
