<template>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-2">
        <p class="image is-64-64">
          <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png" />
        </p>
      </div>
      <div class="column is-10 box">
        <div class="content">
          <h1 class="title">{{ user.name }}</h1>
          <p>{{ user.description }}</p>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="columns is-multiline is-mobile">
        <div class="column is-one-third box has-background-grey-light" v-for="(competence, index) in user.competences" :key="index">
          <div class="content has-text-centered">
            <h2 class="title">{{ competence.name }}</h2>
            <p class="">{{ competence.description }}</p>
            <b-tag type="is-info">{{ competence.nb_votes }}</b-tag>
            <b-button type="is-info"> Give vote</b-button>
          </div>
        </div>
      </div>
      <div class="buttons is-centered">
        <b-button type="is-info"> Donner son vote pour toutes les categories</b-button>
      </div>
    </div>
  </div>
</section>
</template>

<script>
export default {
  name: "Profil",
  data() {
    return {
      user: {
        name: "Hugo",
        description: "Je fait des choses",
        social: {},
        competences: [{
            name: "testing",
            description: "I know how to test things",
            nb_votes: 1
          },
          {
            name: "design",
            description: "I design a whole website on vue",
            nb_votes: 5
          },
          {
            name: "design",
            description: "I design a whole website on vue",
            nb_votes: 5
          },
          {
            name: "design",
            description: "I design a whole website on vue",
            nb_votes: 5
          }
        ]
      }
    };
  },
  methods: {
    snackbar(message) {
      this.$buefy.snackbar.open(`test` + message);
    }
  }
};
</script>
