<template>
<section class="section">
  <div class="container">
    <div class="columns box">
      <div class="column is-2">
        <p class="image is-64-64">
          <img src="https://bulma.io/images/placeholders/128x128.png">
        </p>
      </div>
      <div class="column is-10">
        <div class="content">
          <h1 class="title">{{ projet.name }}</h1>
          <p>{{projet.description}}</p>
          <date class="is-italic"> {{date_projet}} </date>
        </div>
        <div class="box">ok</div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-10 is-offset-2">
        <div class="media box" v-for="(point, index) in projet.points" :key="index">
          <div class="media-left">
            <b-icon v-if="point.status == 'Validate'" size="is-large" pack="fas" icon="check" type="is-success" />
            <b-icon v-if="point.status == 'Active'" size="is-large" pack="fas" icon="balance-scale" type="is-info" />
            <b-icon v-if="point.status == 'Rejected'" size="is-large" pack="fas" icon="times" type="is-danger" />
          </div>

          <div class="media-content">
            <div class="field is-grouped">
              <div class="control" v-for="(skill, index) in point.skills" :key="index">
                <b-taglist attached>
                  <b-tag :type="skill.color">{{ skill.name }} </b-tag>
                  <b-tag type="is-info" v-if="skill.user">{{skill.user.name}}</b-tag>
                </b-taglist>
              </div>
            </div>

            <div class="content">
              {{ point.name }}
            </div>

            <div class="content" v-if="point.votes">
              <div v-if="point.votes.type == 'dual_yes_no'">
                <div v-if="point.status == 'Active'" class="level">
                  <a class="level-item" @click="vote(point ,'positive')">
                    <b-tooltip label="Voter oui">
                      <b-icon size="is-medium" pack="fas" icon="thumbs-up" type="is-success" v-if="point.votes.voted == false || point.votes.yes > point.votes.majority" />
                      <b-icon size="is-medium" pack="fas" icon="thumbs-up" class="has-text-success-light" v-else />
                    </b-tooltip>
                  </a>
                  <a class="level-item" @click="vote(point, 'negative')">
                    <b-tooltip label="Voter non">
                      <b-icon size="is-medium" pack="fas" icon="thumbs-down" type="is-danger" v-if="point.votes.voted == false || point.votes.yes <= point.votes.majority" />
                      <b-icon size="is-medium" pack="fas" icon="thumbs-down" class="has-text-danger-light" v-else />
                    </b-tooltip>
                  </a>
                  <a class="level-item" @click="CreateProposition(point)">
                    <b-tooltip label="Creer une nouvelle proposition">
                      <b-icon size="is-medium" pack="fas" icon="plus" type="is-warning" />
                    </b-tooltip>
                  </a>
                </div>

                <div v-if="point.votes.activate">
                  <b-progress v-if="point.votes.yes > point.votes.majority" :value="point.votes.yes" type="is-success" show-value format="percent"></b-progress>
                  <b-progress v-else :value="point.votes.yes" type="is-danger" show-value format="percent"></b-progress>
                </div>
                <div v-else>
                  <b-progress v-if="point.votes.yes > point.votes.majority" :value="point.votes.yes" type="is-success is-light"></b-progress>
                  <b-progress v-else :value="point.votes.yes" type="is-danger is-light"></b-progress>
                </div>

                <div class="content box" v-if="point.new_proposition">
                  <b-field label="Propose">
                    <b-input v-model="point.new_proposition.proposition.text"></b-input>
                  </b-field>
                  <b-field label="Commentaire">
                    <b-input v-model="point.new_proposition.comment"></b-input>
                  </b-field>
                  <b-button class="is-success" @click="propose(point)">
                    Nouvelle proposition
                  </b-button>
                </div>
              </div>

              <div v-if="point.votes.type == 'propositions'">
                <div class="media box" v-for="(proposition, index) in point.votes.propositions" :key="index">
                  <div class="media-left">
                    <b-radio v-model="point.votes.selected" :native-value="proposition.id" />
                  </div>
                  <div class="media-content">
                    {{ proposition.name }}
                  </div>
                </div>
              </div>
            </div>

            <div class="content" v-for="(event, index) in point.event" :key="index">
              <div class="media" v-if="event.type == 'Comment'">
                <div class="media-left">
                  <p class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png">
                  </p>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>{{event.comment}}</p>
                  </div>
                </div>
              </div>

              <div class="media" v-if="event.type == 'Proposition'">
                <div class="media-left">
                  <p class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png">
                  </p>
                </div>
                <div class="media-content">
                  <div class="box">
                    <h3 class="subtitle"> Proposition de {{event.user}}</h3>
                    <p>{{event.proposition.name}}</p>
                  </div>
                  <p>{{event.comment}}</p>
                </div>
              </div>

              <div class="media" v-if="event.type == 'vote'">
                <div class="media-left">
                  <p class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png">
                  </p>
                </div>
                <div class="media-content">
                  <div class="content">
                    <b-icon v-if="event.vote == 'yes'" size="is-medium" pack="fas" icon="thumbs-up" type="is-success" />
                    <b-icon v-if="event.vote == 'nay'" size="is-medium" pack="fas" icon="thumbs-down" type="is-danger" />
                    <p>{{event.comment}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>
</section>
</template>

<script>
export default {
  name: "Projet",
  data() {
    return {
      projet: {
        name: "Un test de projet",
        description: "Une description du projet",
        date: Date(),
        points: [{
            name: "Tester",
            status: "Validate",
            skills: [{
                name: "Endurance",
                color: "is-primary",
              },
              {
                name: "Courage",
                color: "green",
              },
              {
                name: "Design",
                color: "is-danger is-light"
              }
            ]
          },
          {
            name: "test de multiples propositions",
            status: "Active",
            votes: {
              type: "propositions",
              selected: null,
              propositions: [{
                  name: "Les multiples propositions ne servent a rien!",
                  id: 1
                },
                {
                  name: "Mais si, elles servent!",
                  id: 2
                }
              ],
            }
          },
          {
            name: "creuser un trou",
            status: "Active",
            new_proposition: null,
            skills: [{
                name: "Endurance",
                color: "is-primary",
              },
              {
                name: "Test",
                color: "green",
              },
            ],
            votes: {
              type: "dual_yes_no",
              yes: 20,
              nay: 80,
              majority: 50,
              voted: false,
              activate: true
            },
            event: []
          },
          {
            name: "creuser un trou profond",
            status: "Active",
            new_proposition: null,
            skills: [{
                name: "Endurance",
                color: "is-primary",
              },
              {
                name: "Given",
                color: "green",
                user: {
                  name: "Hugo"
                }
              },
            ],
            votes: {
              type: "dual_yes_no",
              yes: 80,
              nay: 20,
              majority: 50,
              voted: false,
              activate: true
            },
            event: [{
                type: "Comment",
                user: "Higgs",
                comment: "Je vais bientot mourir, mais je soutiens cette proposition"
              },
              {
                type: "Proposition",
                user: "Wedge",
                comment: "Car c'est mieux",
                proposition: {
                  name: "Arreter de creuser"
                }
              },
              {
                type: "vote",
                user: "Cloud",
                vote: "yes",
                comment: "J'ai le choix de voter pour toi!!!"
              },
              {
                type: "vote",
                user: "Sephiroth",
                vote: "nay",
                comment: "J'ai le choix de voter pour lui!!!"
              }
            ]
          },
          {
            name: "Faire Autre Chose",
            status: "Rejected",
            votes: {
              type: "dual_yes_no",
              yes: 30,
              nay: 20,
              majority: 50,
              voted: false,
              activate: false
            },
          }
        ],
      }
    }
  },
  methods: {
    snackbar(message) {
      this.$buefy.snackbar.open(`test` + message)
    },
    vote(point, vote) {
      this.$buefy.snackbar.open(`vote ` + vote)
      point.votes.voted = true
      if (vote == 'positive') {
        point.votes.yes += 1
      }
      if (vote == 'negative') {
        point.votes.nay -= 1
      }
    },
    propose(point) {
      point.event.push(point.new_proposition)
      point.new_proposition = null
    },
    CreateProposition(point) {
      point.new_proposition = {
        type: "Proposition",
        user: "Wedge",
        comment: "",
        proposition: {
          name: ""
        }
      }
    }
  },
  computed: {
    date_projet() {
      return this.$moment(this.projet.date).format("LL")
    },
  }
}
</script>
