<template>
<div class="column">
  <div class="columns box">
    <div class="column is-2">
      <p class="image is-32-32">
        <img src="https://bulma.io/images/placeholders/128x128.png">
      </p>
    </div>
    <div class="column is-10">
      <div class="content">
        <h1 class="title">{{ name }}</h1>
        <p>{{description}}</p>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: "Projets",
  props: {
    name: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: true
    },
    date: {
      type: String,
    },
  }
}
</script>
