<template>
<div class="column">
  <div class="box">
    <div class="image">
      <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png" />
    </div>
    {{ name }}
  </div>
</div>
</template>

<script>
export default {
  name: "User",
  props: {
    name: {
      type: String,
      required: true
    }
  }
};
</script>
